<section>
  <div class="page-header">
    <h1>{{vm.encuesta._id ? 'Editar Encuesta' : 'Nueva Encuesta'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.encuestaForm" class="form-horizontal" ng-submit="vm.save(vm.form.encuestaForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Nombre</label>
          <input name="name" type="text" ng-model="vm.encuesta.name" id="name" class="form-control" placeholder="Nombre" required>
          <div ng-messages="vm.form.encuestaForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Encuesta name is required.</p>
          </div>
        </div>

        <div class="form-group" show-errors  ng-model="vm.newQuestion">
          <label class="control-label" for="name">Pregunta</label>
          <input name="vm.newQuestion" type="text" ng-model="vm.newQuestion" id="vm.newQuestion" class="form-control" placeholder="...">
        </div>

        <div class="form-group">
          <button type="button" class="btn btn-default" ng-click ='vm.addQuestion(vm.newQuestion)'>Añadir pregunta</button>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.encuesta._id ? 'Actualizar' : 'Crear'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>

        <div class="form-group">
          <label class="control-label" for="name">Preguntas</label>
          <div class="form-group" show-errors  ng-repeat="item in vm.encuesta.questions">
            <input name="item" type="text" ng-model="item.question" id="item" class="form-control" placeholder="item" ng-readonly="true">
          </div>

        </div>

        <div list-form-groups></div>

      </fieldset>
    </form>
  </div>
</section>
