<section>
  <div class="page-header">
    <h3>Grupos asignado</h3>
    <a ng-if="groupSelected"
       class="list-group-item">
      <small class="list-group-item-text">
        Creado el
        <span ng-bind="groupSelected.created | date:'yyyy-MM-dd HH:mm'"></span>
        por
        <span ng-if="groupSelected.user" ng-bind="groupSelected.user.displayName"></span>
        <span ng-if="!groupSelected.user">Usuario eliminado</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="groupSelected.name"></h4>
    </a>
  </div>
  <div class="pull-right"
       ng-show="groupSelected">
    <a class="btn btn-primary" ng-click="deleteGroup()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <div class="page-header">
    <h3>Listado de grupos</h3>
  </div>
  <div class="list-group">
    <a ng-repeat="grupo in pagedItems"
       ng-click="selectGroup(grupo)"
       class="list-group-item">
      <small class="list-group-item-text">
        Creado el
        <span ng-bind="grupo.created | date:'yyyy-MM-dd HH:mm'"></span>
        por
        <span ng-if="grupo.user" ng-bind="grupo.user.displayName"></span>
        <span ng-if="!grupo.user">Usuario eliminado</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="grupo.name"></h4>
    </a>
  </div>
  <pagination class="pagination" ng-if="pagedItems.length > 0" boundary-links="false" max-size="8" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()"></pagination>
  <div class="alert alert-warning text-center" ng-if="pagedItems.$resolved && !vm.grupos.length">
    No hay grupos todavía, ¿por qué no <a ui-sref="grupos.create">creas uno</a>?
  </div>

</section>
