<section>
  <div class="page-header">
    <h1>Encuestas</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="encuesta in vm.encuestas"
       ui-sref="encuestas.view({ encuestaId: encuesta._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="encuesta.created | date:'mediumDate'"></span>
        by
        <span ng-if="encuesta.user" ng-bind="encuesta.user.displayName"></span>
        <span ng-if="!encuesta.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="encuesta.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.encuestas.length === 0">
    No hay encuestas, el administrador tiene que asociar una al grupo al que pertenezcas
  </div>
  <!--<div class="alert alert-warning text-center" ng-if="vm.encuestas.$resolved && !vm.encuestas.length">-->
    <!--No Encuestas yet, why don't you <a ui-sref="encuestas.create">create one</a>?-->
  <!--</div>-->
</section>
