<section>
  <div class="page-header">
    <h1 ng-bind="vm.encuesta.name"></h1>
  </div>
  <div class="form-group">
    <label class="control-label" for="questions">Preguntas</label>
    <div class="form-group" ng-repeat="item in vm.encuesta.questions">
      <input name="item" type="text" ng-model="item.question" id="item" class="form-control" placeholder="item" ng-readonly="true">
      <div ng-if="vm.authentication.user;">
        <label class="radio-inline"><input type="radio" name="{{item.question}}" ng-model="item.assessment" value="1" ng-click="vm.modifyAssessment(item, 1)">1</label>
        <label class="radio-inline"><input type="radio" name="{{item.question}}" ng-model="item.assessment" value="2" ng-click="vm.modifyAssessment(item, 2)">2</label>
        <label class="radio-inline"><input type="radio" name="{{item.question}}" ng-model="item.assessment" value="3" ng-click="vm.modifyAssessment(item, 3)">3</label>
        <label class="radio-inline"><input type="radio" name="{{item.question}}" ng-model="item.assessment" value="4" ng-click="vm.modifyAssessment(item, 4)">4</label>
        <label class="radio-inline"><input type="radio" name="{{item.question}}" ng-model="item.assessment" value="5" ng-click="vm.modifyAssessment(item, 5)">5</label>
      </div>
    </div>

  </div>
  <div class="pull-right"
       ng-show="vm.encuesta.isCurrentUserOwner">
    <a class="btn btn-primary"
       ui-sref="encuestas.edit({ encuestaId: vm.encuesta._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.encuesta.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.encuesta.user"
            ng-bind="vm.encuesta.user.displayName"></span>
      <span ng-if="!vm.encuesta.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.encuesta.content"></p>
  <div list-view-group></div>
</section>
