<section>
  <div class="col-md-12">
    <div class="col-md-6">
      <div class="alert alert-info" style="padding: 5px">
        <h5 ng-if="pagedItems.length > 0" style="margin: 0">Usuarios por asignar al grupo</h5>
      </div>
      <p ng-if="pagedItems.length === 0" class="list-group-item-warning">No hay usuarios que asignar</p>
      <div class="list-group">
        <button ng-repeat="user in pagedItems" class="list-group-item" type="button" ng-dblclick="addUser(user)">
          <h4 class="list-group-item-heading" ng-bind="user.username"></h4>
          <p class="list-group-item-text pull-right small" ng-bind="user.roles"></p>
          <p class="list-group-item-text" ng-bind="user.email"></p>
        </button>
      </div>
      <pagination class="pagination" ng-if="pagedItems.length > 0" boundary-links="false" max-size="8" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()"></pagination>
    </div>
    <div class="col-md-6">
      <div class="alert alert-info" style="padding: 5px">
        <h5 ng-if="groupUsers.length > 0" style="margin: 0">Usuarios asignados al grupo</h5>
      </div>
      <p ng-if="groupUsers.length === 0" class="list-group-item-warning">No hay usuarios en el grupo</p>
      <div class="list-group">
        <button ng-repeat="user in groupUsers" class="list-group-item" type="button" ng-dblclick="removeUser(user)">
          <h4 class="list-group-item-heading" ng-bind="user.username"></h4>
          <p class="list-group-item-text pull-right small" ng-bind="user.roles"></p>
          <p class="list-group-item-text" ng-bind="user.email"></p>
        </button>
      </div>
      <pagination class="pagination" ng-if="groupUsers.length > 0" boundary-links="false" max-size="8" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()"></pagination>
    </div>
  </div>
</section>
