<section>
  <div class="page-header">
    <h1>{{vm.grupo._id ? 'Modificar Grupo' : 'Nuevo Grupo'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.grupoForm" class="form-horizontal" ng-submit="vm.save(vm.form.grupoForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Nombre</label>
          <input name="name" type="text" ng-model="vm.grupo.name" id="name" class="form-control" placeholder="Name" required>
          <div ng-messages="vm.form.grupoForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">El nombre del grupo es obligatorio.</p>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.grupo._id ? 'Actualizar' : 'Crear'}}</button>
        </div>
        <div class="list-group-item-info" style="margin: 5px; margin: 0">
          <p >Para agregar usuarios o eliminarlos haz doble click sobre el grupo</p>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
      <div list-form-user></div>
    </form>
  </div>
</section>
