<section>
  <div class="page-header">
    <h1>Grupos</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="grupo in vm.grupos"
       ui-sref="grupos.view({ grupoId: grupo._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Creado el
        <span ng-bind="grupo.created | date:'yyyy-MM-dd HH:mm'"></span>
        por
        <span ng-if="grupo.user" ng-bind="grupo.user.displayName"></span>
        <span ng-if="!grupo.user">Usuario eliminado</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="grupo.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.grupos.$resolved && !vm.grupos.length">
    No hay grupos todavía, ¿por qué no <a ui-sref="grupos.create">creas uno</a>?
  </div>
</section>
