<section>
  <div class="page-header">
    <h1 ng-bind="vm.grupo.name"></h1>
    <div ng-if="userList" list-view-user ></div>
  </div>
  <div class="pull-right"
       ng-show="vm.grupo.isCurrentUserOwner">
    <a class="btn btn-primary"
       ui-sref="grupos.edit({ grupoId: vm.grupo._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Creado el
      <span ng-bind="vm.grupo.created | date:'yyyy-MM-dd HH:mm'"></span>
      por
      <span ng-if="vm.grupo.user"
            ng-bind="vm.grupo.user.displayName"></span>
      <span ng-if="!vm.grupo.user">Usuario eliminado</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.grupo.content"></p>
</section>
