<section class="row" ng-controller="PasswordController">
  <h3 class="col-md-12 text-center">Restablecer su contraseña</h3>
  <div class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4">
    <form name="resetPasswordForm" ng-submit="resetUserPassword(resetPasswordForm.$valid)" class="signin form-horizontal" novalidate autocomplete="off">
      <fieldset>
        <div class="form-group" show-errors>
          <label for="newPassword">Nueva contraseña</label>
          <input type="password" id="newPassword" name="newPassword" class="form-control" ng-model="passwordDetails.newPassword" placeholder="New Password" autocomplete="new-password" popover="{{popoverMsg}}" popover-trigger="focus" popover-placement="top" password-validator required>
          <div ng-messages="resetPasswordForm.newPassword.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Introduzca una nueva contraseña.</p>
            <div ng-repeat="passwordError in passwordErrors">
              <p class="help-block error-text" ng-show="resetPasswordForm.newPassword.$error.requirements">{{passwordError}}</p>
            </div>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="verifyPassword">Verificar contraseña</label>
          <input type="password" id="verifyPassword" name="verifyPassword" class="form-control" ng-model="passwordDetails.verifyPassword" placeholder="Verify Password" password-verify="passwordDetails.newPassword" required>
          <div ng-messages="resetPasswordForm.verifyPassword.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Ingrese la contraseña nuevamente para verificar.</p>
            <p class="help-block error-text" ng-show=resetPasswordForm.verifyPassword.$error.passwordVerify>Las contraseñas no coinciden.</p>
          </div>
        </div>
        <div class="form-group" ng-show="!resetPasswordForm.newPassword.$error.required">
          <label>Requisitos de contraseña</label>
          <progressbar value="requirementsProgress" type="{{requirementsColor}}"><span style="color:white; white-space:nowrap;">{{requirementsProgress}}%</span></progressbar>
        </div>
        <div class="text-center form-group">
          <button type="submit" class="btn btn-primary">Actualiza contraseña</button>
        </div>
        <div ng-show="error" class="text-center text-danger">
          <strong ng-bind="error"></strong>
        </div>
        <div ng-show="success" class="text-center text-success">
          <strong ng-bind="success"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
