<section class="row text-center">
  <h3 class="col-md-12">El restablecimiento de contraseña no es válido</h3>
  <a ui-sref="password.forgot" class="col-md-12">Solicitar una nueva contraseña restablecida</a>
</section>
