<section ng-controller="SettingsController">
  <div class="page-header">
    <h1>Configuración</h1>
  </div>
  <div class="row">
    <nav class="col-sm-3 col-md-3">
      <ul class="nav nav-pills nav-stacked">
        <li ui-sref-active="active">
          <a ui-sref="settings.profile">Editar perfil</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="settings.picture">Cambiar foto de perfil</a>
        </li>
        <li ui-sref-active="active" ng-show="user.provider === 'local'">
          <a ui-sref="settings.password">Cambia la contraseña</a>
        </li>
        <!--<li ui-sref-active="active">-->
          <!--<a ui-sref="settings.accounts">Manage Social Accounts</a>-->
        <!--</li>-->
      </ul>
    </nav>
    <div class="col-sm-9 col-md-8 settings-view">
      <div ui-view></div>
    </div>
  </div>
</section>
