<div ng-controller="AuthenticationController">
  <h3 class="col-md-12 text-center">Iniciar sesión</h3>
  <div class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4">
    <form name="userForm" ng-submit="signin(userForm.$valid)" class="signin" novalidate autocomplete="off">
      <fieldset>
        <div class="form-group" show-errors>
          <label for="username">Nombre de usuario</label>
          <input type="text" id="username" name="username" class="form-control" ng-model="credentials.username" placeholder="Username" lowercase required>
          <div ng-messages="userForm.username.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Nombre de usuario requerido.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="password">Contraseña</label>
          <input type="password" id="password" name="password" class="form-control" ng-model="credentials.password" placeholder="Password" required>
          <div ng-messages="userForm.password.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Contraeña requerida.</p>
          </div>
        </div>
        <div class="text-center form-group">
          <button type="submit" class="btn btn-primary">Iniciar sessión</button>
          &nbsp; or&nbsp;
          <a ui-sref="authentication.signup">Crear cuenta</a>
        </div>
        <div class="text-center forgot-password">
          <a ui-sref="password.forgot">¿Olvidaste la contraseña?</a>
        </div>
        <alert type="danger" ng-show="error" class="text-center text-danger">
          <span ng-bind="error"></span>
        </alert>
      </fieldset>
    </form>
  </div>
</div>
